#cookiebanner {
    position: fixed;
    left: 0;
    right: 0;
    background-color: #fff;
    margin: auto;
    padding: 40px;
    box-shadow: 2px 5px 5px 0 rgba(41,41,41,0.3);
    z-index: 1000;
    height: fit-content;
  }
  .c-logo{
    text-align: center;
    background: url("https://cdn.roompot.com/static/images/roompot/sprites/svg/logo.svg") no-repeat;
    background-size: 100% 100%;
    background-position: center top;
    height: 115px;
    margin-bottom: 24px;
  }
  .c-header{
    margin-bottom: 20px;
    font-size: 16px;
    line-height: 1.25;
    font-family: "Quicksand",Verdana,Helvetica,sans-serif;
    font-weight: 700;
    color: #292929;
  }
  .c-message{
    color: #000;
    font-size: 16px;
    font-family: "Roboto",Arial,Helvetica,sans-serif;
    font-weight: 400;
  }
  .c-message a{
    color: #56aaae;
    cursor: pointer;
    text-decoration: underline;
  }
  .c-buttons{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-top: 10px;
  }
  .c-buttons.customize{
    display: none;
  }
  .c-buttons>div {
    margin-right: 20px;
  }
  .c-button{
    color: #fff;
    background-color: #56aaae;
    -webkit-appearance: none;
    border: none;
    border-radius: 4px;
    display: inline-block;
    font-family: "Quicksand",Verdana,Helvetica,sans-serif;
    font-weight: 700;
    font-size: 16px;
    height: 48px;
    line-height: 48px;
    margin-top: 10px;
    padding: 0 24px;
    position: relative;
    text-align: center;
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: calc(100vw - 48px);
    cursor: pointer;
    text-decoration: none;
  }
  .c-button:hover{
    text-decoration: none;
    background-color: #67b3b6;
    color: #fff;
  }
  .c-change-btn{
    flex: 1;
  }
  .c-change-btn .c-button{
    color: #56aaae;
    background-color: transparent;
    border: 2px solid #56aaae;
    line-height: 46px;
    padding: 0 22px;
  }
  .c-change-btn .c-button:hover{
    background-color: transparent;
    color: #78bbbf;
    border-color: #78bbbf;
  }
  
  /*Checkboxes*/
  .c-cookie-selection{
    position: relative;
    display: none;
    margin-top: 10px;
  }
  .c-cookie-selection ul{
    color: #292929;
    padding-left: 0;
  }
  .c-cookie-selection ul li{
    list-style: none;
    padding: 0 0 0 40px;
    margin-bottom: 16px;
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: relative;
  }
  input[type='checkbox'] {
    height: 100%;
    width: 25px;
    margin-left: -40px;
    position: absolute;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
  }
  .c-checkbox label:before {
    content: "";
    width: 20px;
    height: 20px;
    position: absolute;
    top: 0;
    left: 0;
    border: solid 2px #e6e7e5;
    background-color: #fff;
    border-radius: 4px;
    box-sizing: content-box;
    cursor: pointer;
  }
  .c-checkbox input[type="checkbox"]:checked ~ label:before {
    background-color: #56aaae;
    border-color: #56aaae;
  }
  .c-checkbox input[type="checkbox"]:checked:disabled ~ label:before {
    background-color: #c2c2c2;
    border-color: #c2c2c2;
  }
  .c-checkbox label+i {
    position: absolute;
    display: block;
    left: 0;
    top: 16px;
    width: 24px;
    height: 24px;
    line-height: 24px;
    pointer-events: none;
    opacity: 0;
  }
  .c-checkbox input[type="checkbox"]:checked ~ label+i {
    opacity: 1;
  }
  .c-checkbox input[type="checkbox"]:disabled ~ label+i, .c-checkbox input[type="checkbox"]:checked:disabled ~ label+i {
    opacity: 0.5;
  }
  .c-checkbox label+i:before {
    content: "";
    left: 8px;
    top: -12px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
  }
  
  /*Media queries*/
  @media screen and (min-width: 1024px){
    #cookiebanner {
      width: 800px;
    }
  }
  @media screen and (min-width: 768px){
    #cookiebanner {
      width: 690px;
      top: 50%;
      -webkit-transform: translateY(-50%);
      transform: translateY(-50%);
    }
  }
  @media screen and (max-width: 767px){
    #cookiebanner {
      width: calc(100% - 40px);
      top: 20px;
    }
  }