<div id="cookiebanner" lang="[#LANGUAGE#]" dir="[#TEXTDIRECTION#]" ng-non-bindable>
    <div class="c-logo"></div>
    <h4 class="c-header">[#TITLE#]</h4>
    <p class="c-message">[#TEXT#]</p>
    <div id="js-cookie-selection" class="c-cookie-selection" style="display:none;">
      <ul>
        <li class="c-checkbox">
          <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonNecessary" disabled="disabled" checked="checked">
          <label for="CybotCookiebotDialogBodyLevelButtonNecessary">[#COOKIETYPE_NECESSARY_RAW#]</label>
          <i></i>
        </li>
        <li class="c-checkbox">
          <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonStatistics" >
          <label for="CybotCookiebotDialogBodyLevelButtonStatistics">[#COOKIETYPE_STATISTICS_RAW#]</label>
          <i></i>
        </li>
        <li class="c-checkbox">
          <input type="checkbox" id="CybotCookiebotDialogBodyLevelButtonMarketing">
          <label for="CybotCookiebotDialogBodyLevelButtonMarketing">[#COOKIETYPE_ADVERTISING_RAW#]</label>
          <i></i>
        </li>
      </ul>
    </div>
    <div id="js-cookie-buttons" class="c-buttons">
      <div>
        <a id="CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll" class="c-button">[#ACCEPT#]</a>
      </div>
      <div class="c-change-btn">
        <a class="c-button">[#CUSTOMIZE#]</a>
      </div>
    </div>
    <div id="js-cookie-buttons-customize" class="c-buttons customize">
      <div>
        <a id="CybotCookiebotDialogBodyLevelButtonLevelOptinAllowAll" class="c-button">[#LEVELOPTIN_ALLOWALL#]</a>
      </div>
      <div class="c-change-btn">
        <a id="CybotCookiebotDialogBodyLevelButtonLevelOptinAllowallSelection" class="c-button">[#LEVELOPTIN_ALLOW_SELECTION#]</a>
      </div>
    </div>
    <div style="clear:both"></div>
  </div>